---
const { text, link, className = "" } = Astro.props;
---

<a
    href={link}
    class={`flex m-8 gap-3 bg-[#00C8E9] px-6 py-3 rounded-full shadow-md text-lg font-semibold text-black transition hover:bg-[#00AFC1] w-max  ${className}`}
>
    {text}
</a>
