---
import Logo from "../assets/icons/Logo.svg";
import IconInstagram from "../assets/icons/Insta.svg";
import IconTiktok from "../assets/icons/Tiktok.svg";
---

<footer class="bg-purple-800 text-white text-sm">
    <div
        class="max-w-6xl mx-auto px-6 py-4 flex flex-col md:flex-row items-center justify-between"
    >
        <!-- Logo (Image) -->
        <a href="#" class="flex items-center">
            <Logo />
        </a>

        <!-- Réseaux sociaux -->
        <div class="flex space-x-8 mt-4 md:mt-0">
            <a href="#" aria-label="Instagram"> <IconInstagram /> </a>
            <a href="#" aria-label="TikTok"> <IconTiktok /> </a>
        </div>
    </div>

    <!-- Ligne de séparation -->
    <div class="border-t border-white my-8"></div>

    <!-- Copyright -->
    <div
        class="max-w-6xl mx-auto px-6 py-2 flex flex-col md:flex-row items-center justify-between"
    >
        <p class="text-white">
            &copy; 2025 <span class="font-semibold">emminent</span>
        </p>
        <a href="/landing/legal" class="text-[15px] top-8 text-white hover:underline"
            >Informations légales</a
        >
    </div>
</footer>
